main
 {  
background-color:darkgreen ;
height:1300px ; 
width: 100%;                 
                 }
.q1
{
margin-top:-38px ;
}
.e0
{ 
color:white;
font-size:20px;
 }
 .x3 
 {  
width:100% ;
display: flex;
   }
.bebe
{  
  
margin-left: 135px;
margin-top:150px;

   }
.x4
{    
width: 90%;
display: flex;

}   
.zxcursed
{   
margin-top:100px ;
margin-left:320px;

 }
.mem
{   
 margin-left: 135px;
margin-top:115px;  
 }
 .z 
 {  
width:150px ;
color: white;
  }
  .z33
  {  
width:150px ;
color: white;
   }
.e17
{    
color:white;
font-size:20px;
  }
  .az
  {                             
  color: white ;
  font-size:20px ;
  margin-right:65px ;
    }
.isaac
{   
 
background-color:black ;
display: flex;
height:90px ;
align-items:center ;
justify-content:space-around ;
  }